<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>App Fragments</title>
</head>
<body>
<!-- Default Navigator -->
<ul th:fragment = "nav-default">
  <li><a th:href="@{/login}">Log-In</a></li>
  <li><a th:href="@{/createAccount}">Create Account</a></li>
</ul>
<!-- Login Navigator -->
<ul th:fragment = "nav-login">
  <li><a th:href="@{/}">log-out</a></li>
  <li><a th:href="@{/login/accoutManagement}">Log-In</a></li>
  <li><a th:href="@{/updateAccount}">Update Account</a></li>
  <li><a th:href="@{/deleteAccount}">Delete Account</a></li>
</ul>
<!-- Admin Navigator -->
<ul th:fragment = "nav-admin">
  <li><a th:href="@{/admin/login}">Admin Account Management</a></li>
  <li><a th:href="@{/users}">Handle Users</a></li>
</ul>
<div th:fragment="copyright">
  &copy; MDJV
</div>
</body>
</html>