
<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #products-static-resources},
                                                ~{:: #products-header},
                                                ~{:: #products-nav},
                                                ~{:: #products-main-content},
                                                ~{:: #products-footer}
                                               )}">

<head>
    <title>Title of Products Page</title>
    <th:block id="products-static-resources">
        <script type="text/javascript" src="../static/products.js" th:src="@{/products.js}"></script>
    </th:block>
</head>
<body>
<div id="products-header">
    Header of Create Account Page
</div>
<div id="products-nav" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>
<div id="products-main-content">
    <h2>Create Account</h2>
    <form th:action="@{/c/myAccount}" th:object="${user}" method="post">
        <label> *user name:
            <input type="text" th:field="*{userName}">
        </label>
        <br>
        <label>*Name:
            <input type="text" th:field="*{firstName}">
        </label>
        <label>*Lastname:
            <input type="text" th:field="*{lastName}">
        </label>
        <br>
        <label>*Password:
            <input type="password" th:field="*{password}">
        </label>
        <label>*Re-password:
            <input type="password" th:field="*{rePassword}">
        </label>
        <br>
        <label>*Secret answer:
            <input type="text" th:field="*{secret}">
        </label>
        <p>*Secret answer, is a safe word for the user to be able to delete the account</p>
        <p>(*) is a required field</p>
        <br>
        <input type="submit" value="submit">
    </form>
</div>
<div id="products-footer" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>
</body>
</html>