<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">

<head>
    <title>/log-in/updateAccount</title>
    <th:block id="home-static-resources">
        <script type="text/javascript" src="../static/home.js" th:src="@{/home.js}"></script>
        <link rel="stylesheet" type="text/css" href="../static/home.css" th:href="@{/home.css}"/>
    </th:block>
</head>
<body>
<div id="home-header">
    /log-in/updateAccount
</div>
<div id="home-nav" th:replace="~{/fragments/app-fragments :: nav-login}">
    Home Nav
</div>
<div id="home-main-content">
    <h2>Update here</h2>
    <form action="@{/updateAccount}">
        <label> userNick:
            <input type="text" th:name="user">
        </label>
        <label>firstName:
            <input type="text" th:name="firstName">
        </label>
        <label>lastName:
            <input type="text" th:name="lastName">
        </label>
        <label>oldPassword:
            <input type="password" th:name="oldPassword">
        </label>
        <label>password:
            <input type="password" th:name="password">
        </label>
        <label>re-password:
            <input type="password" th:name="rePassword">
        </label>
        <label>What's your mother's name?:
            <input type="text" th:name="deletePassword">
        </label>
        <input type="submit">
    </form>
</div>
<div id="home-footer" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>
</body>
</html>